.DS_Store
.github
node_modules
coverage
__helper__
coverage
.codecov
.husky
.eslintignore
.env
yarn-error.log

/src
/code-of-conduct.md
/.editorconfig
/.eslintrc.json
/.huskyrc.json
/.lintstagedrc
/.travis.yml
/ava.config.cjs
/ava.config.mjs
/ava.config.js
/yarn.lock
/pnpm-lock.yaml
/test.mjs
/tsconfig.json
/tsconfig.eslint.json
/.c8rc.json
