.DS_Store
.github
node_modules
coverage
__helper__
coverage
.codecov
.husky
yarn-error.log

/code-of-conduct.md
/.editorconfig
/.eslintrc.json
/.huskyrc.json
/.lintstagedrc
/.travis.yml
/ava.config.cjs
/yarn.lock
/test.mjs
/tsconfig.json
/tsconfig.esm.json
/tsconfig.cjs.json
/tsconfig.eslint.json
lib/**/*.ts
